data
delete.ipynb
delete.py
*.pyth
AD_json
AD_json_train
__pycache__
Trained_ORIGINALcheckpoints
runs
tmp
.vscode
OUTPUTS
OUTPUT_images
TEST
output_image.png
NEWORIGINALcheckpoints
test_outputs

## I dont know if below ones are going to be useful or not in the directory of datasets

aitex
elpv
sdd
visa